body{
	background-image:url('../../../Public/Pictures/Sample Pictures/Penguins.jpg');
	background-repeat:no-repeat;
        margin:0;
        background-color:#C5EFF7;
}
.sidenav{
	height:100%;
	width:150px;
	position:fixed;
	background-color:#87BAE5;
	overflow-x:hidden;
	padding-top:30px;
}

.sidenav a{ 
display:block;
	padding:16px 8px 8px 18px;
	font-size:25px;
	text-decoration:none;
	color:navy;
	
}
.sidenav a:hover{
	color:#CC0099;
	background-color:white;
}
h1{ 

	padding:50px;
	font-size:50px;
    padding-top:100px;
    padding-left:44%;
    font-family:lato;
    color:white;
}
h2{
	
	padding:50px;
	font-size:30px;
	padding-left:35%;
	font-size:30px;
	font-family:lato;
	color:white;
}
.footer{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  color:white;
 text-align:left;
}















